#introduction-div {
    background-color:white;
    text-align: center;
    font-size: x-large;
}


body {
    background-color: lightblue;
}

#softball {
    background-color: cornflowerblue;
}

#baking {
    background-color: darkcyan;
}

.photo {
    position: fixed;
    left: 0px;
    margin: 200px;
}